[2019-05-14 14:32] NicoDuvenage opened #1 "Bulk Payments - Initial Proposal, High level architecture diagram discussed."
## **Request**:

**Artifacts**:
- [x] Designs for the PoC - https://github.com/mojaloop/documentation/tree/master/mojaloop-technical-overview/central-bulk-transfers

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner: @elnyry

## **Notes**:

[2019-05-16 11:13] NicoDuvenage opened #2 "TypeScript adoption for all new NodeJS services/components going forward. Example https://github.com/mojaloop/central-services-metrics"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Draft a best practices / guidelines doc or a template.
- [ ] Mojaloop template project
- [ ] Add related tools (typescript, eslint) to the list in the documentation [here](https://mojaloop.io/documentation/contributors-guide/tools-and-technologies/)

## **Follow-up**:
- [ ] Alternative actions
- [ ] C

[2019-05-16 11:13] NicoDuvenage opened #3 "Agree and record use cases and component selection criteria for message handling"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:13] NicoDuvenage opened #4 "Do we need a pattern which maps FSP codes in the bank account onto FSP IDs - equivalent to the mapping from operator to DFSP for MSISDN? If we do that, there's no need for FSPs to keep the oracle up to date with account IDs: "the switch just sends the account ID to the DFSP identified by the ALS...""
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:13] NicoDuvenage opened #5 "Final Review ALS Design (Sequence Diagrams)"
## **Request**:

**Artifacts**:
- [x]  https://github.com/mojaloop/documentation/tree/master/mojaloop-technical-overview/account-lookup-service [ ]

**Decision(s)**:
- [x] The design has been documented and published in the following Mojaloop documentation location: https://github.com/mojaloop/documentation/tree/master/mojaloop-technical-overview/account-lookup-service

This was reviewed and appro

[2019-05-16 11:13] NicoDuvenage opened #6 "Risk: Current dependencies being used by Mojaloop seem to include some viral licenses on key components (Kafka, Hapi, etc)."
## **Request**:
Link to license report that was executed by @rajiv313 : https://mojaloop.slack.com/files/U87PH4C69/FCSGKAF60/screen_shot_2018-09-13_at_11.15.43.png

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] License scan has been completed, across all node projects, and it doesn't look too serious.

## **Follow-up**:
- [ ] Remove the deprecated projects from t

[2019-05-16 11:13] NicoDuvenage opened #7 "Create presentation document to outline the DA approach going forward, involving larger groups."
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:14] NicoDuvenage opened #8 "Review design of Account Lookup Services with specific focus on the Bank Account Lookup Service, as presented by TIPS."
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:14] NicoDuvenage opened #9 "Approach for storing Invalid Requests for Prepare/Fulfils"
## **Request**:
Current functional logic of the saveTransferPrepared facade is implemented so that a try-catch block wraps the entire logical insertion of the transfer, transferParticipant, transferExtension, ilpPacket, & transferStateChange. If any of those inserts fail, the catch will roll back the entire transfer. E.g. if the participant doesn't exist, the insertion into the transferParticipant

[2019-05-16 11:14] NicoDuvenage opened #10 "Way forward with Interop-switch"
## **Request**:
Need to discuss the approach for the switch going forward. Once we introduce the ALS, participant capabilities will have been moved from Switch/Central-Directory to the ALS. As such do we need to update the Switch to support the ALS, or do we ignore those capabilities on the switch.
Even if we do this, we still have another issue. Quotes.....this is still done by the switch. Which

[2019-05-16 11:14] NicoDuvenage opened #11 "Async Process Log file creation"
## **Request**:
I would like to _refactor logger library to write to log files asynchronously (instead of writing to the console synchronously)_
to improve performance.

https://github.com/mojaloop/project/issues/574

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Depend

[2019-05-16 11:14] NicoDuvenage opened #12 "Security"
## **Request**:
Identify scope and requirements

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:14] NicoDuvenage opened #13 "Software Quality Report"
## **Request**:
It would be necessary to provide proof of the level of software quality that had been applied as part of the software delivery.
code development guidelines are kept, unit test code coverage report

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependenci

[2019-05-16 11:15] NicoDuvenage opened #14 "Introduce tool to support Defect Life Cycle Management"
## **Request**:
We are going to start receiving defects from our clients which might translate into either mojaloop or Casablanca software dev defect. Our QA needs to get the communication going and managing these findings with different dev teams and reporting back to the client on the resolution status.
Is there any tool already Modusbox are using? I can imagine a simple scenario with a list of

[2019-05-16 11:15] NicoDuvenage opened #15 "Document the onboarding and operational procedures to adopter DevOps"
## **Request**:
The way forward to onboard dev ops from the client (Technicality and Resource) We could utilize resource who could help with implementation activities. It can be considered part of the handover process as training what they need to run their ops after implementation

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of

[2019-05-16 11:15] NicoDuvenage opened #16 "Issue logged regarding Parsing message body/ JWS implications"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:15] NicoDuvenage opened #17 "PRISM Discussion"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:15] NicoDuvenage opened #18 "Discuss Event Sourcing (CQRS)"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:16] NicoDuvenage opened #19 "Standardization and Automation of new DFSP onboarding"
## **Request**:
When re-registering consumers for the "new" DFSPs, note that there is a manual deployment that will need to happen since we are "spinning up" separate instances for each consumer. With new CLI processes, it will give us flexibility if we want to spin up a single handler for Positions for a specific DFSP or if we want that handler to register to all known DFSPs.

**Artifacts**:
- [

[2019-05-16 11:16] NicoDuvenage opened #20 "Renaming Operations ‘ participants’ resource"
## **Request**:
Renaming Operations ‘_participants_’ resource to something better (anything other than participants - may be '**/fsproviders**', '**/serviceProviders**', ‘ **/fsps** ’ ?) that would lead to less confusion [I think right now, someone may ask - _"What does **this** participants do and what does **that** participants do?", "Why do we have two participants end-points?", "Can we use bot

[2019-05-16 11:33] NicoDuvenage opened #21 "Operation API renaming discussion"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:33] NicoDuvenage opened #22 "Extend the DFSP data to include a Country for Identification"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:33] NicoDuvenage opened #23 "Investigate licensing issues highlighted for many of the 3rd party services Mojaloop uses"
## **Request**:
MongoDB "open-source" Server Side Public License rejected | ZDNet
Red Hat won't use MongoDB in Red Hat Enterprise Linux or Fedora thanks to MongoDB's new Server Side Public License.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If

[2019-05-16 11:33] NicoDuvenage opened #24 "Issues with implementing Cascaded time-outs (Signatures, etc)"
## **Request**:
We have a story to assess Telescopic timings. As the expiry is clearly in the definition, this creates an issue when the Items are signed. We need to have a mechanism to remove this element from the encrypted data, or have a counter which increments for each hop in the process. So each party knows they have less time in the expiry before it is automatically withdrawn. Currently, a

[2019-05-16 11:33] NicoDuvenage opened #25 "Discuss the currency issue - data model of Amount to use integers and not Strings"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-16 11:34] NicoDuvenage opened #26 "Discuss Header and Body parsing (HAPI results?) which influences JWS and security as a whole"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-05-17 06:00] NicoDuvenage opened #27 "Knex usage discussion"
## **Request**:
Knex is great for spinning up new schemas but making changes to schemas in big operational DBs is a different world.

Knex migrations and SQL upgrade scripts.

Discuss some potential issues with knex migrations in production use and discuss alternatives.
Now that we have some live, real money, transfer traffic it is critical to address some concerns.

**Artifacts**:
- [ ] Artifact

[2019-05-27 07:21] NicoDuvenage opened #28 "Considerations to support on-us transactions in mojaloop"
## **Request**:
Determine the in/exclusion of "on-us" transactions in Mojaloop. Also discuss the effort required to make it available, as currently, such transactions are rejected.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [x] All agree in principle to allow on-us transactions
- [ ] Investigate Source Base to determine the effort required to make allowance for t

[2019-05-28 06:51] NicoDuvenage opened #29 "Request Duplicate Check"
## **Request**:
Please verify the Request Duplicate Check Design - see associated Sequence Diagram

**Artifacts**:
- [x] https://docs.google.com/document/d/18zNB7ShWS5NiNdlAWffup5G5eOUtAwycTFyI3cni34c [@ggrg]

**Decision(s)**:
- [x] Actual decision made as a result of discussion --> Option 4

## **Follow-up**:
- options:
1. add completedRequest table
   a. <-- full accordance with the spec, insert

[2019-05-29 13:36] mdebarros commented on #10
I believe this item can be closed as we have deprecated the Interop-Switch with the introduction of the following recently released components to the OSS community:
- Account Lookup Service
- Quoting Service

Both of the above items have been made available via Github and also incorporated as part of the existing Mojaloop Helm Chart (https://github.com/mojaloop/helm/releases/tag/v6.3.0) deprecatin

[2019-05-29 13:38] #10 closed

[2019-05-29 13:41] mdebarros commented on #5
The design has been documented and published in the following Mojaloop documentation location: https://github.com/mojaloop/documentation/tree/master/mojaloop-technical-overview/account-lookup-service

This was reviewed and approved prior to the April 2019 convening, and as such, I believe this issue can be closed.

[2019-05-29 13:49] mdebarros commented on #19
Note that this issue is no longer applicable based on the changes introduced as part of the Performance Optimisation last year November 2018 as the topics are now generic and are not specific to each FSP.

This means that FSP all utilise the same topics but instead are assigned to a specific partition based on the FspID. Thus there is no manual process required to setup/configure pre-requisites fo

[2019-05-29 13:50] mdebarros commented on #2
@NicoDuvenage when can we have this discussion?

I believe it was supposed to occur in April 2019 during Mojacon, but was deferred at the time?

[2019-05-29 13:51] #19 closed

[2019-05-29 13:53] #5 closed

[2019-05-29 17:25] mdebarros commented on #9
This is being addressed by the following story: https://github.com/mojaloop/project/issues/780. The design proposal will be submitted by @ggrg.

[2019-06-03 17:11] NicoDuvenage commented on #29
The detail on the proposed solution after a meeting concluded on Jun 3, 2019, @ 19:00 SAST
To be presented by Georgi to DA on Jun 4 and discussions to be held over for the regular weekly DA meeting on Wednesday.
options:
1. add completedRequest table
   a. <-- full accordance with the spec, insert ALL requests, which will support PUT operations
   b. <-- full accordance with the spec, insert only

[2019-06-05 12:58] NicoDuvenage commented on #29
At the DA meeting on Jun 5th, 2019, an additional option (4) was added and seemed to be the one worth investigating further. A meeting between interested parties will be arranged for Friday, Jun 7th after which this log will be updated with the recommended approach.

[2019-06-12 12:40] mdebarros commented on #29
For *transfer fulfils* DA to consider:
 a. Aborting a prepared transfer for all cases when invalid fulfilment message is received (incl. bad fulfilment from payee, all payee errors, 3rd party attempting to commit etc.)
 b. Do not use provided header data (source/destination), but use stored data for callbacks instead

[2019-06-12 12:50] mdebarros commented on #29
Next steps:
- Duplicate-check design to be updated to reflect the above decision.
- Story to update the Central-Ledger Prepare Handler to insert incomplete/invalid transfer records with all/as-much information as possible into the existing db structure.
- Story to re-factor the fulfilment handler to align the validations (specifically the duplication-check) in the same fashion as the prepare handl

[2019-06-12 16:38] elnyry commented on #29
Thanks Miguel, this looks good.

[2019-06-12 17:58] mdebarros commented on #9
See decision made as part of https://github.com/mojaloop/design-authority/issues/29 as option 4 was selected which resolves this issue.

[2019-06-17 19:43] NicoDuvenage opened #30 "Event Framework - Draft Design Review"
## **Request**:
review the "Event Framework draft design"

**Artifacts**:
- [x] Artifact to consider [@Contributor]

**Decision(s)**:
- [x] Actual decision made as a result of discussion

## **Follow-up**:
- [x] Alternative actions

**Dependencies**:
- ~If Applicable~

## **Accountability**:
- Owner:

## **Notes**:

[2019-06-18 15:22] mdebarros commented on #30
DA notes from 2019-06-18 (Reviewers: @adrianhopebailie @NicoDuvenage @rmothilal @elnyry; Presenting: @mdebarros):
- Proposed event framework design was agreed on by DA attendees
- Items for future considerations:
     - Audit requirements/functionality to include security advisory
     - Consider an alternative to gRPC, such as RSocket (as it can handles back pressure, sync vs async requests, etc

[2019-06-19 10:59] NicoDuvenage opened #31 "Oracle Design - ALIAS usage for TIPS implementation"
## **Request**:
Discuss the design for the TIPS identifier (ALIAS) oracle

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner: [ @emmakazi ]

## **Notes**:

[2019-06-19 11:03] NicoDuvenage commented on #31
The DA did meet and discussed the above request. It was decided that Emmanuel Kazi would gather more information about the reason why an ALIAS is required and how it will be used. It was pointed out during the discussion that the way it was put forward, it would be a potential security risk and in many instances, not allowed to operate like that as a result of regulatory rules.

This discussion is

[2019-06-19 12:44] elnyry commented on #1
The designs for the PoC, have been discussed at the previous Mojaloop convening PI6 as well as in core team and DA meetings. Feedback has been incorporated and designs finalized for the PoC. However, changes are being made as part of implementing the PoC because of the issues identified during implementation.

The actual design will be presented after the PoC which can then be used for a standard

[2019-06-19 12:44] #1 closed

[2019-06-24 13:14] lewisdaly commented on #6
As a part of [#711](https://github.com/mojaloop/project/issues/711), I implemented this [license-scanner](https://github.com/mojaloop/license-scanner) tool, which allows us to scan dependencies across projects with Fossa cli or exporting to a single `.xlsx` file locally.

Our license scan results showed only a few minor instances of GPL licenses. See attached xlsx file for the summary.

[license-s

[2019-07-02 12:31] emmakazi commented on #31
After a long discussion about the topic in the DA session, I took the matter back to the TIPS team, I presented the DA's concerns that: storing the party details at the switch and disclosing the party details (particularly the transacting account) to the payer DFSP would jeopardize the whole idea behind use of ALIAS and pose some security concerns.

After scrutiny among TIPS teams it was decided t

[2019-07-02 12:44] emmakazi commented on #8
Nico, there is no enough information for me to proceed with this.

[2019-07-02 13:33] elnyry commented on #8
@emmakazi lets discuss this in tomorrow's meeting

[2019-07-03 12:35] elnyry commented on #2
event-sdk, central-services-health are now in typescript as indicated by @lewisdaly @mdebarros

[2019-07-03 14:03] adrianhopebailie commented on #2
We have an advantage of targeting modern versions of Node and Typescript.

We should require at least Typescript 3.2+ (for BigInt support) and the tsconfig should target **ES2018** which enables a lot of modern ECMAScript features to be used and is fully supported in Node 10 LTS (https://node.green/#ES2018).

Suggest we also use ESM modules (as opposed to CJS).

Here's a decent starting `tsconfig.

[2019-07-03 14:33] adrianhopebailie commented on #2
Also note that Microsoft are moving to eslint (as opposed to tslint) so we should use it from the start: https://javascriptplayground.com/typescript-eslint

[2019-07-05 02:22] lewisdaly commented on #2
Thanks @adrianhopebailie, those look like a good starting point.

If we are happy with these default settings, we should also go back to the existing TS projects and update them to comply with the `tsconfig.json` and typescript version above.

[2019-07-09 13:24] lewisdaly commented on #2
I've started working on the ticket above. One thing we need to decide is whether or not to include the `dist` folder in git or not.

I would prefer to *not* include it, as from experience it causes unnecessarily large git diffs and makes code conflicts more annoying to resolve.

[2019-07-10 11:12] elnyry commented on #13
SonarQube is now setup, up-to-date and running.. In fact quite a few issues reported have been addressed. But this will be finalized over the course of PI-7

[2019-07-10 11:13] #13 closed

[2019-07-10 12:43] NicoDuvenage commented on #24
Issue transferred to CCB Discussion board

[2019-07-10 22:20] adrianhopebailie commented on #2
+1 to not including `dist` in git and not including `src` and `test` from the distributed packages

[2019-07-18 14:28] NicoDuvenage opened #32 "Multi-hop on Mojaloop"
## **Request**:
Urgent discussion regarding the design and implementation of a Multi-hop functionality on Mojaloop is required.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner: [ @adrianhopebailie ]

##

[2019-07-18 15:35] NicoDuvenage commented on #32
From Adrian Hope-Bailie to Everyone: (17:33)
 https://bit.ly/2JDBt1J

[2019-07-18 20:29] adrianhopebailie commented on #32
Feedback from a discussion today

I believe we have agreement on the following (let me know if not)
- There is a difference between a *transfer* and a *transaction*
- A transfer is a single hop. It is a single currency clearing of funds from one DFSP to another and is proxied through a switch.
- A transaction is a chain of transfers, executed in sequence that may go through the same switch (e.g. M

[2019-07-18 20:32] adrianhopebailie commented on #32
See sequence diagram [here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG4gICAgcGFydGljaXBhbnQgUGF5ZXIgREZTUFxuICAgIHBhcnRpY2lwYW50IFN3aXRjaFxuICAgIHBhcnRpY2lwYW50IFBheWVlIERGU1BcbiAgICBwYXJ0aWNpcGFudCBGWFBcblxuICAgIG5vdGUgb3ZlciBQYXllciBERlNQLCBQYXllZSBERlNQOiBPUFRJT04gQTogRG9tZXN0aWMgUDJQIChzaW5nbGUgdHJhbnNmZXIsIHNpbmdsZSBtZXNzYWdlKVxuICAgIFBheWVyIERGU

[2019-07-20 04:41] lewisdaly commented on #23
I've done a little digging around ahead of our next opportunity to discuss this:

## Links:
- [MongoDB FAQ](https://www.mongodb.com/licensing/server-side-public-license/faq)
- [ZDNet Article](https://www.zdnet.com/article/mongodb-open-source-server-side-public-license-rejected/)

## General Summary:
- The license is based on GPLv3, with a chance to the
- The change is targeted at cloud vendors who

[2019-07-22 21:46] adrianhopebailie commented on #32
@MichaelJBRichards have you had any feedback from your discussions with implementors that would add some detail to this.

@elnyry what are our next steps?

[2019-07-23 12:54] MichaelJBRichards commented on #32
@adrianhopebailie Yes, I have. I have a revised Mowali proposal in the form of a sequence diagram to which I am adding a presentation. I will circulate that to the DA participants from the discussion last week. It also covers some thinking about transaction objects. I'll make sure that I upload it here...

[2019-07-23 17:05] millerabel commented on #32
I’m not following the Option A sequence diagram which appears to show a full path from payer to payee DFSP, which would not be possible in a cross-system environment. And it shows use of the FXP in a mode that I don’t follow. I understood the role of the FXP as an _intermediary facilitator. It is a member of two schemes and can handle all foreign scheme addressing and routing. So all quoting and t

[2019-07-23 20:19] NicoDuvenage commented on #32
I will table this for the DA meeting tomorrow (Jul, 24) for discussion and clarification.

[2019-07-23 23:38] adrianhopebailie commented on #32
@millerabel - repeating my comment from Slack:

This sequence diagram shows two scenarios:
- domestic p2p (i.e. 2 DFSPs and a switch)
- in-network cross-currency as being implemented by Mowali (i.e. 2 DFSPs and an FXP and a switch all part of the same network/scheme)

This is not how we have modelled this scenario to-date.

We have assumed that, even though there are two settlement ledgers at the

[2019-07-24 07:03] MichaelJBRichards commented on #32
I promised at the end of the Design Authority meeting last week that I would revisit the proposed FX design for Mowali and propose a way in which it would align more closely with the ILP pattern for transfers. I attach a proposal which I think does this, together with a sequence diagram showing how a parties/quote/transfer process would work and the detail of the message content.

This model is re

[2019-07-24 10:44] mdebarros commented on #16
The issue was resolved discussed and documented by the following issue: https://github.com/mojaloop/project/issues/755

[2019-07-24 10:44] #16 closed

[2019-07-24 10:44] mdebarros commented on #17
This will be addressed as part of the Performance work in PI8.

[2019-07-24 10:44] mdebarros commented on #18
This will be addressed as part of the Performance work in PI8.

[2019-07-24 10:46] mdebarros commented on #26
The issue was resolved, discussed and documented by the following issue: https://github.com/mojaloop/project/issues/755. And seems to be

[2019-07-24 10:46] #26 closed

[2019-07-24 10:49] mdebarros commented on #32
@adrianhopebailie I think we may be great to have an SD where we can visualise the use-cases of where/when Condition-Fulfiments are generated.

[2019-07-25 12:40] MichaelJBRichards commented on #32
I thought that our objective was that, in all cases, the Fulfilment and Condition should be generated by the (eventual) Payee DFSP at the point when the Payee DFSP approves a request for quotation. Have I misunderstood?

[2019-07-25 14:02] #7 closed

[2019-07-26 05:02] lewisdaly commented on #23
We have handed this off to Paula to discuss with the Foundation for now.

[2019-07-30 10:23] MichaelJBRichards commented on #32
[Mojaloop aligned Mowali FX Proposal.pptx](https://github.com/mojaloop/design-authority/files/3446310/Mojaloop.aligned.Mowali.FX.Proposal.pptx)

[FX ILP for Mowali.pdf](https://github.com/mojaloop/design-authority/files/3446336/FX.ILP.for.Mowali.pdf)

Revised version of the presentation and the sequence diagram, based on our discussions yesterday.

[2019-07-31 11:40] MichaelJBRichards commented on #32
Action is now with me and Adrian to review and propose changes to the Open API specification to support the agreed position

[2019-07-31 12:42] #8 closed

[2019-08-02 14:42] ggrg opened #33 "Implementation specific Request Duplicate Check issues"
## **Request**:

**Artifacts**:
- [x] Artifacts to consider [@ggrg]
  - [x] An edge case for Transfer Prepares described in detail [here](https://github.com/mojaloop/project/issues/780#issuecomment-515924318)
  - [x] Decision on how to implement for Transfer Fulfils - options available [here](https://github.com/mojaloop/project/issues/781#issuecomment-515945618)

**Decision(s)**:
- [x] Actual deci

[2019-08-07 13:15] NicoDuvenage opened #34 "Merchant Oracle - Registering Merchant ID"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-08-07 13:47] emmakazi commented on #34
- Use the /participants endpoint, make use of the fields in the body
- DB designed to also Store the trans acct Id type (MSISDN, ACCOUNT_ID)
- For now, concatenate the additional details that need to be stored if necessary. E.g. trans account and TIN in partySubIdOrType field in the request body
- Propose changes to the API board to include the transacting account id and type fields (they are taki

[2019-08-28 12:41] adrianhopebailie commented on #32
Apologies for the delay in completing this. Aiming to have it done by 30 Aug

[2019-08-30 12:56] adrianhopebailie commented on #25
@elnyry please can you provide some links to the related context for this issue

[2019-08-30 13:01] elnyry commented on #25
Thanks Adrian. here's the issue that started the conversation - https://github.com/mojaloop/project/issues/867, though the core issue itself was on the backlog / pipeline for a while.

Here's the first step of this being addressed, this is now merged - https://github.com/mojaloop/project/issues/949

Here's another follow-up item: https://github.com/mojaloop/project/issues/952

[2019-08-30 14:50] adrianhopebailie commented on #32
Work on this is being done here: https://github.com/mojaloop/mojaloop-specification/pull/22

[2019-09-26 06:54] lewisdaly opened #35 "Agree on what OSS-ification looks like"
## **Request**:

**Artifacts**:
- [ ] As a DA, we need to establish rules and guidelines for OSS standardization [@lewisdaly]

**Decision(s)**:
- [ ] Agreed to work on expanding contributors guide to include sections on code style, framework recommendations
- [ ] Need to work on process/framework for adopting new codebases into the OSS

## **Follow-up**:
- [ ] Develop OSS Standards guide
- [ ] Wor

[2019-09-26 07:14] NicoDuvenage opened #36 "Standardisation on Code and Library Usage Standards"
## **Request**:
1. We should develop two guides: (1) A Mojaloop OSS code style guide, and (2) A Mojaloop OSS Framework and tool recommendation guide
1.1 The style guide will dictate: code style, directory structure, and include prettier and editor config files [please add to this list as you see fit]
1.2 The framework and tool recommendation guide will contain strong recommendations about framewor

[2019-10-02 08:36] lewisdaly commented on #35
Duplicate of #36

[2019-10-02 08:36] #35 closed

[2019-11-05 15:30] NicoDuvenage opened #37 "Implement "Transaction Requests Service""
## **Request**:
Donovan Changfoot 16:16
Hi guys. We're working on the ISO adaptor POC. As part of our flow we need to make use of the authorization flow which is handled by the transaction requests service but as I understand is not yet implemented. We can do the implementation.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of di

[2019-11-06 13:15] DonChangfoot commented on #37
## Decision Summary
Implement the `authorization` (GET, PUT) endpoints in a pass-through-and-forward manner. This is  to be done in the `transaction request service` as `authorizations` are seen to be coupled to `transaction requests`. In future, a generalized forwarding service may be implemented.

## Accountability:
- Owner: @DonChangfoot

## Notes:
Unit tests are required and postman functional

[2019-11-06 14:32] DonChangfoot opened #38 "Hapi-openapi with Typescript"
## **Request**:
Discuss best way to use hapi-openapi with a typescript project.

**Artifacts**:
- [ ] example repo: https://github.com/DonChangfoot/Hapi-openapi-with-Typescript

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2019-11-27 13:09] NicoDuvenage opened #39 "Discuss and Design an approach for supporting multiple versions of a Mojaloop Implementation"
## **Request**:
There are some requests to have a design implemented where multiple versions of a mojaloop implementation can be catered for, both from an API as well as a Database perspective.

**Artifacts**:
- [ ] Current Draft Versioning Proposal PR: https://github.com/mojaloop/documentation/pull/182

You can view on the branch [here](https://github.com/mojaloop/documentation/blob/versioning/di

[2019-12-17 13:13] NicoDuvenage opened #40 "Settlements - V2 Design"
## **Request**:
Discuss proposed database changes catering for the V2 of the Settlements Functionality, as well as the amended Sequence Diagrams

**Artifacts**:
- [x] Artifact to consider [@ggrg] - please refer to *Main artifcats* section below

**Decision(s)**:
- [x] closeSettlementWindow requested changes
  - [x] extend DB TRANSACTION title to describe transactions
  - [x] add PROCESSING and FAI

[2020-01-22 09:37] lewisdaly commented on #36
This is a Draft PR which outlines most of the changes discussed:

https://github.com/mojaloop/documentation/pull/116

[2020-01-22 09:40] lewisdaly commented on #11
I think this has been covered in: https://github.com/mojaloop/project/issues/846

[2020-02-05 09:52] adrianhopebailie commented on #32
@NicoDuvenage this can be closed, as I said above it is now being tracked in the API specification repo

[2020-02-05 10:45] #32 closed

[2020-02-10 06:39] lewisdaly commented on #23
I think this is worth closing for now, since I don't think directly affects us at the moment. Feel free to re-open if this changes in the future.

[2020-02-10 06:39] #23 closed

[2020-02-10 06:41] lewisdaly commented on #6
I think we can close this ticket. We have other follow up tickets:
- https://github.com/mojaloop/project/issues/912
- https://github.com/mojaloop/project/issues/986

As far as the DA goes on this topic, I think we have the appropriate measures in place to no longer introduce GPL and other unwanted licenses into the codebase.

[2020-02-10 06:41] #6 closed

[2020-02-12 08:14] NicoDuvenage commented on #39
See related OSS Story:
Determine Scope for Versioning Proposal #1199

[2020-02-12 10:12] NicoDuvenage commented on #22
It was decided in a DA meeting on 12 Feb, 2020, that this issue should be closed, in favour of a wider discussion around DFSP data in general, like:
1) where (if at all) should the extra data be stored
2) should this "extra" data be passed around in all message bodies

Rob will have a discussion with Henk who is currently busy on a related task and load sone use-cases and user-stories which has th

[2020-02-12 10:13] #22 closed

[2020-02-12 19:25] elnyry commented on #21
Duplicate of #20

[2020-02-12 19:25] #21 closed

[2020-02-19 10:17] NicoDuvenage opened #41 "Merchant-Initiated Merchant Payment functionality on Mojaloop Simulator"
## **Request**:
We are working on the reproduction of Merchant-Initiated Merchant Payment (page 63 here https://github.com/mojaloop/mojaloop-specification/blob/master/documents/supporting-documentation/API%20Definition%20v1.0.pdf) on our servers.

For this reason we setup K8S (helm v8.8.0), this FSP simulator https://github.com/mojaloop/simulator as Payer FSP and our own simulator as Payee FSP.

B

[2020-02-26 10:07] adrianhopebailie commented on #41
👍 to adding the feature.

I suggest it be contributed as a PR against the repo which can be reviewed by the DA.

@NicoDuvenage and @elnyry as discussed on the call we should try and make it easier for contributors to suggest features and get a go ahead from the DA to start work on it.

Do all of the repos have code owners that could do this without needing the DA? That would mean contributors coul

[2020-02-26 19:16] elnyry commented on #20
Not a fan of saying "I told you so", but below is in fact the reason why I brought this up - a year ago.

![image](https://user-images.githubusercontent.com/10507686/75378943-99957a80-58fa-11ea-8a1e-2e9f60b94981.png)

[2020-03-18 08:06] NicoDuvenage opened #42 "Support for accented characters in data type "Name""
## **Request**:
In Section 7.2.4.1 of the API specification, the definition of the regular expression to parse a variable of the Name type states: "all Unicode32 characters are allowed". In fact, accented and non-Roman characters are rejected by the example regular expression given in Listing 14.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made

[2020-03-18 08:11] NicoDuvenage commented on #42
There has been some email correspondence regarding this topic lately, under the subject:

`Update regex in ML interfaces (API and outward facing services) to support accents (select Unicode characters) in names (#1261)`

[2020-03-18 09:00] elnyry commented on #42
Not exactly on email, but on the GitHub issue here: https://github.com/mojaloop/project/issues/1261 (I suspect that email was just a GitHub notification)

[2020-03-18 09:12] mjbrichards commented on #42
Just so we have it here too: here is my current thinking on what the specification should read, copied over from the GitHub issue:

_I think I'd like to suggest that there should be a reference somewhere in the API specification (preferably in a table of such versioning references) to the Unicode release level. Within that, we should use references to the Unicode General Categories that we allow o

[2020-03-18 09:24] mjbrichards commented on #42
Presumably the problem from a DA perspective is not the code solution, it's the tests we propose to apply to check whether a given solution meets the requirement or not...

[2020-03-18 10:03] elnyry commented on #42
Here are the two issue tracking this for:

- Specification (FSPIOP API): https://github.com/mojaloop/mojaloop-specification/issues/56
- Implementation: https://github.com/mojaloop/project/issues/1261

[2020-04-15 09:34] #36 closed

[2020-04-15 17:09] NicoDuvenage opened #43 "Design a mechanism for informing a PISP on the progress on a transfer that it initiated."
## **Request**:
Incorporate some process in the central-processing of the Switch itself to cater to the requirement above.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2020-05-02 06:19] lewisdaly opened #44 "Understand and Define Mojaloop Roles for PISP, x-network, etc. use cases"
## **Request**:

As part of the PISP workstream, we have mostly agreed that a PISP DFSP is still a 'participant' in a Mojaloop switch, but a participant that has _special_ properties.

In the x-network stream, we have also been talking about the new _roles_ of CNP and FXP, which a DFSP _might_ be able to adopt.

The goal of this ticket is to better define roles within Mojaloop so we can start to m

[2020-05-13 10:40] NicoDuvenage opened #45 "Mojaloop Post Transfer Processor"
## **Request**:
TIPS has a requirement to do Post Transfer Processing and is busy doing a PoC. The design will be presented to the DA as a "heads-up" for what may need to be approved later for possible inclusion into the mojaloop code base.

**Artifacts**:
- [ ] URL to current Design: https://docs.google.com/document/d/1r2mHbbFX-DEvMogqmtGoAMXRxexfsQJk49RnxB-j5wc/edit#heading=h.kgr4r72faad8

**Dec

[2020-05-20 08:21] lewisdaly commented on #44
[This doc from the pisp work](https://github.com/mojaloop/pisp/blob/master/docs/roles_and_endpoints.md) is the first attempt at breaking down the DFSP and PISP roles.

[2020-05-20 08:29] lewisdaly opened #46 "Discuss the PISP Simulator"
## **Request**:

For the PISP worksteam, we need to extend the `mojaloop-simulator`.

At the moment, we are planning to keep this all in the same repo, and expose the PISP functionality under some config settings.

The new features for the PISP Simulator are:
- Mock FIDO key registration
- Mock FIDO key signing
- new call to `POST /thirdPartyRequest/transfer` - this is the new PISP equivalent of `

[2020-05-20 09:44] lewisdaly commented on #46
- Simulator to mock the API calls, no web redirect or otp
-

[2020-05-27 10:02] NicoDuvenage opened #47 "Answer the question of whether to have a separate API for PISP, or simply extend the existing Open API"
## **Request**:
Answer the question of whether to have a separate API for PISP, or simply extend the existing Open API

**Artifacts**:
- [PISP Roles and Endpoints breakdown](https://github.com/mojaloop/pisp/blob/master/docs/roles_and_endpoints.md)

4x API options discussion:
- [api_discussion.pdf](https://github.com/mojaloop/design-authority/files/4757562/api_discussion.pdf)

**Decision(s)**:
- De

[2020-05-27 10:03] NicoDuvenage opened #48 "Answer the question of how to manage notifications so that a PISP can be registered as an interested party for notification of the success of a transfer"
## **Request**:
Answer the question of how to manage notifications so that a PISP can be registered as an interested party for notification of the success of a transfer

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountabili

[2020-05-27 10:08] NicoDuvenage commented on #2
The outcome is that the Switch development will not be restrictive and prescriptive but as far as recommendation for new contributions and modules are concerned, it will be preferred if those could be done in TypeScript

[2020-05-27 10:08] #2 closed

[2020-05-27 10:13] NicoDuvenage commented on #47
# Issue Discussion Reference - Michael Richards
# Distinguishing PISP permissions from DFSP permissions #
# Issues and proposal #

## Introduction ##

The current work to extend the Mojaloop product to support PISPs has given rise to a new architectural problem.

The Mojaloop product is being extended to allow PISPs to become participants in Mojaloop schemes. Although PISPs do not have direct cont

[2020-06-02 08:30] mjbrichards opened #49 "Recognising enumerations"
## **Request**:

Can we ensure that enumeration values are spelled correctly? This helps readers of designs, code, and tests to understand immediately what the value represents.

Two examples:

DIFERREDNET should be DEFERREDNET
PRINCIPLE_VALUE should be PRINCIPAL_VALUE

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

[2020-06-04 03:51] lewisdaly commented on #47
Thanks all for the discussion yesterday.

I've updated the artifacts above and added the decision made. @NicoDuvenage are we happy to close this one, or should we keep it open as we wait for the licensing discussion to happen?

[2020-06-04 13:42] NicoDuvenage opened #50 "Knex migrations and SQL upgrade scripts"
## **Request**:
Knex migrations and SQL upgrade scripts.

Discuss some potential issues with knex migrations in production use and discuss alternatives.
Now that we have some live, real money, transfer traffic it is critical to address some concerns.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
-

[2020-06-04 14:56] NicoDuvenage commented on #47
Thanks for the updates @lewisdaly - We can close this issue now and take care of the licensing issue when it surfaces.

[2020-06-11 01:38] lewisdaly commented on #46
This was discussed on the 10/06 with the following outcomes:
- reusing and extending the mojaloop-simulator for pisp purposes is all good (and preferred)
- As for the sdk-scheme-adapter (which the mojaloop-simulator uses behind the scenes), since the PISP API will be quite a different from the Mojaloop API, we will look to creating a new `thirdparty-scheme-adapter` (or whatever we want to call it)

[2020-06-11 01:41] lewisdaly opened #51 "Should the PISP implementation live in the `sdk-scheme-adapter`, or should we make a new `thirdparty-scheme-adapter`?"
## **Request**:

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner: @lewisdaly

## **Notes**:

[2020-06-11 01:50] lewisdaly commented on #48
@NicoDuvenage @MichaelJBRichards is this a duplicate of #43 ?

[2020-06-11 01:51] lewisdaly commented on #50
@NicoDuvenage @bushjames is this a duplicate of #27 ?

[2020-06-11 16:23] #48 closed

[2020-06-11 16:24] NicoDuvenage commented on #48
@lewisdaly : Correct...I labeled it as such and closed #48

[2020-06-11 16:25] #50 closed

[2020-06-11 16:28] NicoDuvenage commented on #50
@lewisdaly and @bushjames : Correct - I labeled it as such and moved to "closed"

[2020-06-17 09:56] lewisdaly commented on #44
Discussed in today's meeting.

The DA is happy for workstreams to go ahead and split out new APIs and Role definitions (e.g.  Thirdparty API, CNP API etc.)

Next steps:
 - DA needs to come to a better understanding of how role definitions are defined and broken down
  -  We need to discuss where the business logic for crossing api/role boundaries lives: Is it in the API Gateway? Or ml-api-adapter?

[2020-06-17 13:38] mdebarros opened #52 "Deprecation of Helm2 support"
## **Request**:

There are now mature tools for managing the migration of existing Helm deployments from Helm2 to Helm3 --> https://helm.sh/docs/topics/v2_v3_migration/.

As such we should consider deprecating Helm2 support going forward, and set a date a final date for switching over to only supporting Helm3 going forward.

Things that would be required to support this:
- update Mojaloop document

[2020-06-23 09:15] NicoDuvenage opened #53 "Placement of Rules modules"
## **Request**:
Discuss the approach to be implemented when deploying Rules Engine rules, database and modules.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2020-06-27 11:01] NicoDuvenage commented on #52
Closing this discussion with the migration document in place and an agreed approach of migrating over time, as there is backward compatibility in place and currently no urgent and immediate need.

[2020-06-27 11:39] NicoDuvenage commented on #53
@ndonnan will revert back with a demonstration of how TIPS implemented their Rules-Based solution and a determination will be made if that design approach is generic enough as well as if the design is sound enough for integration into the core codebase of Mojaloop OSS.

[2020-06-29 16:02] NicoDuvenage commented on #27
The KNEX discussion extended into talking about the possible use of third-party tools to assist in the generation of queries to help migration efforts. This has no direct bearing on the use of KNEX itself and after exploring a bit deeper, it was decided that there was no compelling reason to continue further investigation into the use of KNEX itself, but to keep an open mind and look out for alter

[2020-06-29 16:02] #27 closed

[2020-06-30 10:17] NicoDuvenage opened #54 "zero down-time deployment proposal"
## **Request**:
Provide an overview of the ‘zero down-time deployment’ proposal / PoC from the versioning stream

**Artifacts**:
1. [Playbook Example](https://github.com/vessels-tech/documentation/blob/feature/versioning-playbook/discussions/versioning_poc.md)

**Decision(s)**:
- DA happy with presentation and demonstration of the Zero down time deployment approach.
- A few points were noted:

[2020-06-30 10:19] NicoDuvenage opened #55 "Contingency Plan discussion (Generic) for Open-Source Library Support changes"
## **Request**:
Consider a “Contingency plan in case an open source library’s support is in question”

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability**:
- Owner:

## **Notes**:

[2020-07-13 09:55] NicoDuvenage opened #56 "Update to DA on the v10.4.0 Helm Release"
## **Request**:
1) An update on the Helm v10.4.0 release, expected changes, and testing completed.
2)  A walk-through on the release notes of the latest v10.4.0 release.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountabil

[2020-07-13 11:07] claudio-viola opened #57 "Investigate solution to avoid recompiling node-rkafka at each npm install both in docker and in host"
## **Request**:
- Discuss https://github.com/mojaloop/project/issues/1461 . Node-rkafka compilation  / recompilation takes away a lot of developer time from compiling docker container**s** and service**s** locally everytime a change in package.json happens (so far very frequently)
**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of d

[2020-07-14 14:52] ndonnan opened #58 "central-settlement merge into central-ledger"
## **Request**:
Currently the central-settlement module is dependant on the central-ledger tables and is tightly integrated with central-ledger functionality. I would like to discuss the possible merging of the central-settlement repo into the central-ledger to aid in the development and maintenance of settlements development.

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s

[2020-07-15 09:32] NicoDuvenage opened #59 "Cryptographic Processing Module"
## **Request**:
There is a new cryptographic processing module high-level design completed recently by the quality code workstream which they would like to have reviewed by the DA

**Artifacts**:
- [ ] Artifact to consider [@godfreykutumela]
https://github.com/mojaloop/project/files/4884145/Mojaloop.Crytographic.Processing.Module.-.7.July.2020.v1.0.docx

**Decision(s)**:
- [ ] Actual decision made

[2020-07-17 08:33] claudio-viola commented on #58
I second such a change, currently the database is centralised and at this stage we are unable to properly conduct PR review processes unless a change is committed and merged into central-ledger first hand.
a quick example is a needed change in a central-settlement api which requires a new database attribute.
 in order for such a change to be completed a pull request would need to be made into cent

[2020-07-17 11:27] godfreykutumela commented on #59
Thanks @NicoDuvenage

[2020-07-17 12:40] NicoDuvenage opened #60 "OSS-Core coding discussion points"
## **Request**:
Claudio Viola raised some discussion points which is scheduled to be discussed on 29 July 2020.

1) I see a lot of big functions and big files, would be useful to discuss linting for cyclomatic complexity , function length, module length, newspaper order. Not sure if standard.js supports it… but we could see if it is possible to add the rule without affecting existing code

2) Is t

[2020-07-29 09:50] elnyry-sam-k commented on #60
For #2 here: https://github.com/mojaloop/project/issues/1444

[2020-08-03 09:48] mjbrichards opened #61 "Co-ordinating transfer time-outs"
## **Request**:

At present, the switch is responsible for timing a transfer out. We therefore ask the payer DFSP to issue a **GET /transfers** before timing out at their end, to ensure that they only time transfers out if the switch has timed them out first. However, it is still possible for the switch to time a transfer out while the payee DFSP is still responding to it; and, given that the paye

[2020-08-07 08:10] NicoDuvenage opened #62 "Discuss the design approach of a standalone HSM capability for Mojaloop"
## **Request**:
Discuss the design approach of a standalone HSM capability for Mojaloop

**Artifacts**:
- [ ] https://github.com/mojaloop/project/files/4884145/Mojaloop.Crytographic.Processing.Module.-.7.July.2020.v1.0.docx

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **Follow-up**:
- [ ] Alternative actions

**Dependencies**:
- [ ] If Applicable

## **Accountability*

[2020-08-07 08:23] NicoDuvenage commented on #62
The topic for discussion was: https://github.com/mojaloop/project/issues/852 The "HSM Integration Approach" was touched on a few times, and the workgroup taking care of the design and implementation, tabled this for discussion at this week's DA meeting to answer a few questions arising from the last PI-Planning session where progress on this was again presented.

As we have not completed the discu

[2020-08-10 11:31] godfreykutumela commented on #62
A clarification meeting was held last friday to address all the points raised by members of the DA and below are our final agreement and conclusion:

1. Articulation of Risks - We have agreed that all risk associated with the introduction of a CPM be clearly articulated to the hub operator to make their own choices. The current documentation should be updated as per this agreement.

2. Costing - T

[2020-08-12 08:03] NicoDuvenage commented on #62
Thanks, @godfreykutumela - this is great. I am moving this to the "decision made" column and we will address this topic again when required under a new entry.

[2020-08-12 09:21] NicoDuvenage opened #63 "Mojaloop Issue Logging Mechanism and process"
## **Request**:
As we’re getting more and more community contributors, I notice that newcomers don’t always use the unified mojaloop/project issue tracker. I know we’ve talked in the past about the pros and cons of having central issue trackers, but I’d love to discuss this as a DA.
Options:
1. Disable github issues on all repos, and update readme docs to ask people to use the central issue tracke

[2020-08-12 10:11] NicoDuvenage commented on #63
As discussed in the DA meeting, the current approach of loading an issue in the repository where the issue is applicable and not on the project board itself.
It is then the responsibility of the Product Owners and Scrum Master to gather those issues (all obviously applicable to the Core OSS Development) and create issues specific to the Project Board with links and references to the original.
Ther

[2020-08-12 12:42] lewisdaly commented on #63
Thanks everyone. I agree that keeping issues as close to their repos makes sense, and perhaps we can improve the systems around these issues to make sure that we don't lose important community contributions because they aren't on the main `/project` repo.

A few suggestions:
1. Add a github issue template to every repository

2. Set up some sort of weekly new issue digest so that new issues opened

[2020-08-18 08:39] claudio-viola opened #64 "Exclude models folder from unit test coverage checks for all repositories"
## **Request**:
Currently unit test coverage checks for the repositories in mojaloop are set to a minimum of 90%
With the following or similar setup

[code]

The proposal is  to **exclude all the files that perform database calls** while making sure that those files only make database calls and perform no logic.
Two steps
1) add /**models/** in the exclude section in the .nyrc file (above)
2) make

[2020-08-24 11:45] NicoDuvenage opened #65 "Should the response to a GET /parties contain a correlation ID"
## **Request**:
A request was made by Istvan to discuss the Correlation ID issue and how it has been implemented in the FSPIOP-API spec.
Michael brought a request to the DA forum to have an Ad-Hoc meeting titled:
"Should the response to a GET /parties contain a correlation ID"

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision made as a result of disc

[2020-08-24 11:48] NicoDuvenage commented on #65
The Ad-Hoc meeting was conducted with a wider issue being addressed relating to recommendations required to be taken to the CCB for consideration.

Many valid points were raised and discussed and Michael and Adrian suggested some collaboration on this platform to consolidate the ideas put forward in order to formulate a recommendation to the CCB.

[2020-08-27 09:07] lewisdaly commented on #51
We discussed this further on our DA Meeting on 26/08/2020.

Some of the key points were noted:

1. In order to take advantage of Typescript, and to help speed up development, the PISP workstream has gone ahead and separated out the [`thirdparty-scheme-adapter`](https://github.com/mojaloop/thirdparty-scheme-adapter) already.

2. One of the challenges identified with the "multi-scheme-adapter" appro

[2020-09-02 04:18] lewisdaly commented on #51
Update as of 02/09/20:

See [this draft document](https://github.com/mojaloop/pisp/blob/scratch/api-collision/docs/api-collision.md) for the latest thinking and some examples of mitigations.

[2020-09-02 10:05] NicoDuvenage commented on #64
Regarding this topic, a decision has been reached to exclude the "models" folder from any unit test coverage for all repositories, given that no business logic is contained therein.
If that folder does in fact contain business logic, the code must be refactored to move it to the appropriate place.

[2020-09-03 07:51] lewisdaly commented on #51
We discussed this on 02/09/20.

In principle, it was decided that the fact that there are shared resources between APIs is coincidental, and should not dictate the way DFSPs and PISPs run their services - whether or not they share infrastructure to handle the common resources between the APIs is up to them.

We still have more to discuss around ensuring that APIs can be appropriately distinguished

[2020-09-08 08:12] godfreykutumela commented on #62
Hi @NicoDuvenage I think you can close this one - it was a duplication of https://github.com/mojaloop/design-authority/issues/62

[2020-09-08 10:39] DonChangfoot opened #66 "Decide on accepting Mojawallet"
## **Request**:
Community members have shown interest in the [Mojawallet](https://github.com/mojaloop/mojawallet). As such it has been prepped for contribution and reviewed to make sure it follows the Mojaloop contribution standards. A decision needs to be made to make the repo public.

Things to consider:
Currently, the project does not have github releases / docker images setup as it is for demo

[2020-09-09 10:30] adrianhopebailie opened #67 "Differentiate between "core" components and demos/POCs/etc"
## **Request**:

As a follow up to #66 we need to find a way to avoid confusion in the market about what repos are part of the Mojaloop core and which are not.

https://docs.mojaloop.io/documentation/repositories/ provides a catalogue of repositories broken down into categories.

What this list doesn't show are tools or reference implementations of systems that would integrate with the Mojaloop co

[2020-09-10 14:19] mdebarros commented on #51
I agree with this, it's really up to the Hub Operator how they wish to segment their APIs, and present them to their customers.

[2020-09-16 15:28] claudio-viola commented on #57
This 'hack' could be used to at least have the cache of docker file when we just bump package version  and /or update test commands... There is another possible approach which would mean 'splitting' package files.
https://stackoverflow.com/questions/51110793/bumping-package-json-version-without-invalidating-docker-cache

[2020-09-29 12:59] NicoDuvenage opened #68 "Clarity on a few topics"
## **Request**:
Here are a couple of discussion points we need clarity on:
1)  On quotes - no timeout mechanism is available on the Switch - is this ok?
2) The pattern for messaging specified in Mojaloop Specification  (FSPIOP API) in some cases doesn’t send error callbacks (for PUT calls) - thoughts?

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Decision(s)**:
- [ ] Actual decision

[2020-10-01 07:53] NicoDuvenage commented on #68
Discussion around the topics mentioned started - the newly implemented "patch" in version 1.1 of the API spec was discussed and the majority of the meeting was spent on how to promote wider adoption of this new pattern.

Concerns about the implementation and use of the "patch" command was raised, stating that further discussion is required to determine if we are not trying to patch a design flaw w

[2020-10-11 09:48] godfreykutumela commented on #61
@elnyry-sam-k is this the same issue currently under discussion at the DA? I want to update it with the minutes from last week, so I want to confirm if I am working on the right issue.

[2020-10-12 02:33] elnyry-sam-k commented on #61
@godfreykutumela - yes that is correct. This was the topic of discussion last week and this is related to the usage of `GET /transfers` and notifications as well too..

[2020-10-12 08:32] godfreykutumela commented on #61
Thanks, @elnyry-sam-k. I will try dividing this into separate issues with a specific focus on each of the challenges but working a  common solution framework.

[2020-10-26 15:23] #18 closed

[2020-10-26 15:28] godfreykutumela commented on #41
@NicoDuvenage Updated

[2020-10-26 15:34] godfreykutumela commented on #61
This is now part of a new workstream as decided in PI 12 Convening @elnyry-sam-k

[2020-11-03 11:31] godfreykutumela commented on #67
Hi, @adrianhopebailie. What is the status of this DA issue? Is still open awaiting a decision, or can we mark it as deferred with comments?

[2020-11-03 11:32] godfreykutumela commented on #60
Hi, @elnyry-sam-k, do you perhaps know the status of this issue?

[2020-11-03 11:39] elnyry-sam-k commented on #60
hi @godfreykutumela , let me follow this up with Miguel, this will need some implementation support and will fall under 'technical-debt', I suppose.

[2020-11-03 11:39] godfreykutumela commented on #49
Hi @mjbrichards, can you please update on the status of this issue? Is it still open under discussion, or should it be marked as closed or deferred?

[2020-11-03 11:41] godfreykutumela commented on #57
Hi, @claudio-viola @lewisdaly @elnyry-sam-k, can you please advise regarding the status of this issue?

[2020-11-03 11:43] godfreykutumela commented on #41
This issue was deferred to a PR

[2020-11-03 11:48] godfreykutumela commented on #66
Hi, @DonChangfoot, can you please advise on the status of this issue? If it is not open for further discussion, I suggest moving it to closed or deferred.

[2020-11-03 11:48] godfreykutumela commented on #65
Deferred to the CCB.

[2020-11-03 11:50] godfreykutumela commented on #58
Hi, @ndonnan @claudio-viola @elnyry-sam-k, can you please advise on the status of this issue? If it is not open for further discussion, I suggest moving it to closed or deferred.

[2020-11-03 11:51] #59 closed

[2020-11-03 11:52] godfreykutumela commented on #55
Hi, @elnyry-sam-k, can you please advise on the status of this issue? If it is not open for further discussion, I suggest moving it to closed or deferred.

[2020-11-03 11:53] ndonnan commented on #58
This will be addressed as part of the event sourcing design

[2020-11-03 11:53] #58 closed

[2020-11-03 11:55] godfreykutumela commented on #53
Hi @ndonnan, can you please advise on the status of this issue? If it is not open for further discussion, I suggest moving it to closed or deferred.

[2020-11-03 11:55] godfreykutumela commented on #45
Hi @ndonnan, can you please advise on the status of this issue? If it is not open for further discussion, I suggest moving it to closed or deferred.

[2020-11-03 11:57] ndonnan commented on #53
This can be closed

[2020-11-03 12:02] godfreykutumela commented on #58
Thanks @ndonnan

[2020-11-03 12:03] godfreykutumela commented on #53
Thanks, @ndonnan and I will close it

[2020-11-03 12:03] #53 closed

[2020-11-03 12:10] elnyry-sam-k commented on #55
@godfreykutumela - this is a tricky one, still relevant, Mojaloop still needs a plan for this or may be it can be on a case-by-case basis. I'll take this up in a few weeks time (close to end of Nov), thanks.. we can keep this deferred till then, if its ok.

[2020-11-03 13:08] ndonnan commented on #45
@godfreykutumela this can be closed

[2020-11-03 13:57] godfreykutumela commented on #55
Thanks, @elnyry-sam-k, for the feedback on this, and in that case, I suggest we move it to DA backlog instead.

[2020-11-03 19:02] adrianhopebailie commented on #67
No, this is not yet resolved. We now have ATM and POS simulators and the test toolkit to add to this list of tools.

I suggest we get some guidance from Lesley-Ann on where these things should sit and how they should be managed.

[2020-11-03 19:41] godfreykutumela commented on #67
Noted @adrianhopebailie, I will move this issue to the DA backlog to seek guidance from the Product Manager, as suggested.

[2020-11-04 07:21] DonChangfoot commented on #66
Hi @godfreykutumela. This is closed. I'll update its status.

[2020-11-04 07:28] #66 closed

[2020-11-04 10:17] godfreykutumela commented on #66
Thanks @DonChangfoot

[2020-11-19 09:21] mdebarros opened #69 "Proposal: Remove external dependencies that are tightly integrated into the Mojaloop Helm Chart"
## One Line Summary:

I propose that all external dependencies are removed from the Mojaloop helm charts, and are instead deployed as a separate pre-requisites.

The rationale behind this being:
1. We currently do not see any Mojaloop switch implementors using these dependencies in QA/Prod environments. They instead have chosen to either deploy their own dependencies or rely on managed services in

[2020-11-19 17:02] godfreykutumela opened #70 "Review Original Mojaloop Project Principles"
## One Line Summary:

The design and development of Mojaloop was based on a set of principles which were never properly documented and communicated and as part of this initiative, the DA will review the provided list of principles from the TGB and provide feedback before releasing to the open community for only additions and corrections no detailed review is needed.

## **Request Details**:

The T

[2020-11-25 06:16] lewisdaly opened #71 "proposal: enforce conventional commit titles for Pull request reviews"
## One Line Summary:

In order to better automate our release lifecycle, we should adopt [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) in our GitHub pull request titles.

## **Request Details**:

- **Deadline:** This PI
- **Impact (Teams):** All teams working on open source codebases in the Mojaloop Github Org
- **Impact (Components):** All repos which build docker and npm

[2020-11-25 15:09] godfreykutumela commented on #69
Hi, @mdebarros the DA has approved this decision. The updating of the deployment guide and enabling of a one-click deployment should be addressed as separate issues which can be started parallel to this one and will not require any further DA approval. Thanks and please let me know should you need anything on this.

[2020-11-26 06:52] godfreykutumela commented on #71
Noted @lewisdaly and this is scheduled for the first 10min of next week's session.

[2020-12-03 19:32] elnyry-sam-k commented on #71
This looks good, @lewisdaly , thank you.. I think we should adopt this, now that we have adopted SemVer for about 1.5 PIs

[2020-12-11 04:25] lewisdaly commented on #71
Here's an example implementation that works well with our CI/CD: https://github.com/mojaloop/ml-operator/blob/master/scripts/_pr_title.js

From here, I'll add it to our circleci orb to make it more manageable across many codebases.

[2020-12-17 10:34] elnyry-sam-k opened #72 "IAC contribution to Mojaloop OSS"
IAC contribution to Mojaloop OSS

[2020-12-18 14:43] JustusOrtlepp opened #73 "Present the draft Fraud Risk Management architecture to the Design Authority for review"
## Request Summary:

We have composed a draft architecture for a Fraud Risk Management solution that facilitates the collection of transaction information destined for the Mojaloop platform and the subsequent evaluation of those transactions for fraud and money laundering risk. We'd like to present the draft architecture to the Design Authority for review, discussion and comment.

## **Request Det

[2021-01-04 10:40] mdebarros opened #74 "Design for reliable notifications on finalisation of a transfer"
## Request Summary:

Review/discussion for the `Design for reliable notifications on finalisation of a transfer` as per the following documentation: https://github.com/mojaloop/documentation/tree/feature/%231869Designforreliablenotificationsonfinalizationofatransfer/mojaloop-technical-overview/notifications

_(Please use the [PR](https://github.com/mojaloop/documentation/pull/288) to add any comme

[2021-01-05 07:43] godfreykutumela commented on #73
Hi @JustusOrtlepp do you perhaps we have any prereading material on this and also please confirm how much time do you need for this? @bushjames @simeonoriko

[2021-01-05 08:01] godfreykutumela commented on #72
Hi @elnyry-sam-k can you please add little bit more details to this?

[2021-01-05 09:52] JustusOrtlepp commented on #73
Hi @godfreykutumela,

There are three options in managing the integration between Mojaloop and the FRMS:

1. The FRMS will act as an intercepting proxy that wraps around a Mojaloop implementation (lowest deployment impact and facilitates a more open architecture for integration with other platforms/switches)
2. As a service that responds to transaction PUTS from Mojaloop within Kafka.
3. As a gate

[2021-01-05 10:21] godfreykutumela commented on #73
@JustusOrtlepp I suggest we table it for next week so that you can have a full 30min for this presentation. This week we have 2 items already - Reliable notification and ML Invariants.

[2021-01-05 13:03] JustusOrtlepp commented on #73
@godfreykutumela Next week will be great, thanks. I'm assuming also Wednesday? We'll send out some more information on Monday latest.

[2021-01-05 13:28] godfreykutumela commented on #70
https://docs.google.com/document/d/1OwO3W4IOIsDURqQsOFP1DKN6hrAt2otKd0VRSNxBEWY/edit?ts=5ff4465d

[2021-01-07 14:19] bushjames opened #75 "Produce Decision Log from DA Board History"
## Request Summary:

A project sponsor has requested that we create and maintain a design authority decision log. This can be facilitated by an analysis of the DA zenhub board.

## **Request Details**:

- **Deadline:** Next PI
- **Impact (Teams):** Design Authority
- **Impact (Components):** N/A

A decision log can be produced in some form e.g. Excel, text file, consensus post etc... (TBD) to reco

[2021-01-11 15:00] mdebarros opened #76 "Docker Hub rate limiting PULL requests"
## Request Summary:

The deployment of Mojaloop is severely impacted due to the recently imposed rate-limits on Docker-Hub Pull requests. The result being that deployment times have substantially increased.

Ref: https://www.docker.com/increase-rate-limits

## **Request Details**:

- **Deadline:** ASAP
- **Impact (Teams):** Core-OSS and Community
- **Impact (Components):** Mojaloop Helm Deployment

[2021-01-11 17:52] godfreykutumela commented on #76
Hi @mdebarros It looks like there is a cost associated with each of the two options proposed here so I recommend forwarding this as-is to Kim for guidance.

[2021-01-17 23:22] lewisdaly commented on #76
@mdebarros yeah I've noticed this when deploying as well... it's a real pain.

With option #2, does that mean that users wishing to use our charts are still rate limited? My concern is newcomers to the community struggling to get up and running with our helm charts, and I think we need to consider that in any solution.

[2021-01-17 23:24] lewisdaly commented on #69
@mdebarros I wonder if we can go one step further and make our helm charts even more modular...

I'm thinking more of a "plugin" style approach, where users can install the bare-bones mojaloop by default, and then can install additional components that are managed in their own helm charts.

[2021-01-17 23:30] lewisdaly commented on #76
This link has some helpful tips: https://blog.container-solutions.com/dealing-with-docker-hub-rate-limiting

[2021-01-20 14:37] bushjames commented on #73
Presented and discussed at DA meeting 2021-01-20 13:00 UTC.

[2021-01-20 14:37] bushjames commented on #76
Presented and discussed at DA meeting 2021-01-20 13:00 UTC

[2021-01-21 17:01] mdebarros commented on #76
Updates to v11.1.0 Helm release:
- Update Docker pull policies to "IfNotPresent", this will help with the Docker rate-limiting changes as described in this issue to both the wider community and OSS team.

[2021-02-16 13:36] bushjames commented on #74
@mdebarros has updated defaults for image pull policy in all helm charts. Will be released with v12.0.0 of mojaloop. Monitor situation and review if issue persists.

[2021-02-16 13:39] bushjames commented on #76
@mdebarros has updated default image pull policy on helm charts. Will be released as part of v12.0.0 mojaloop. Monitor situation and revisit if issue persists.

[2021-02-22 11:39] elnyry-sam-k commented on #76
helm v12.0.0 : https://github.com/mojaloop/helm/releases/tag/v12.0.0 released last week (Feb 15th)

[2021-04-27 15:29] adrianhopebailie opened #77 "Grafana changing license to AGPL 3"
## Request Summary:

Analyse impact of the license change that Grafana have made from Apache 2.0 to AGPL

## **Request Details**:

- **Deadline:** End of the current PI
- **Impact (Teams):** Any teams depending on Grafana as part of their work
- **Impact (Components):** Grafana

Grafana Labs have changed the license for Grafana from Apache 2.0 to AGPL:
https://grafana.com/blog/2021/04/20/grafana-l

[2021-04-27 15:31] mdebarros commented on #77
https://grafana.com/blog/2021/04/20/qa-with-our-ceo-on-relicensing/

I am of the opinion that the license change will not impact our usage of Grafana. I believe it will only be an issue if we modify Grafan’s code, which will trigger the “network” part of the **A**GPL license.

[2021-04-27 17:29] godfreykutumela commented on #77
I agree with @mdebarros. There are 3 conditions on which this can impact us:

1. If you provide a competing service to Grafana - Grafana as a service to our customers
2. If we modify the source code of Grafana and if we do it only affect the part we changed not the entire code but anyway our code is public.
3. If we provide a Gradana based solution as a public service via a public cloud or private

[2021-04-28 08:15] ehenrka commented on #77
I would recommend to have someone with more legal expertise in the area of software licenses to have a look at this. Modification can be interpreted in different ways, see for example https://opensource.stackexchange.com/a/6904, but this depends on how strict Grafana Labs wants to be.

Also, based on https://www.gnu.org/licenses/gpl-faq.html#IfLibraryIsGPL, would not the license of Mojaloop have t

[2021-04-28 09:27] ehenrka commented on #77
Additionally regarding the license incompatibility, see excerpt from https://github.com/mojaloop/mojaloop/blob/master/contribute/License.md:

[2021-04-28 11:03] millerabel commented on #77
Thanks Henrik for providing the excerpts. When we organized the open source project, we identified this incompatibility between Apache 2.0 and the GPL family of licenses and so the use of GPL’d libraries in Mojaloop contributions is not permitted. As these libraries are sometimes imported at a very deep dependency, within our module tree, it has been a constant challenge to find and remove the dep

[2021-04-28 13:27] ehenrka commented on #77
Thanks Miller, that is consistent with my view from commercial usage.

A related potential issue with the current license in https://github.com/mojaloop/mojaloop/blob/master/contribute/License.md is for Elasticsearch and Kibana. These are, starting from version 7.11, dual licensed under the Elastic License and Server Side Public License instead of Apache 2.0. As far as I know, Mojaloop is in some

[2021-05-12 10:46] mdebarros commented on #77
We are not using any library for Grafana as we do not directly integrate with Grafana.

Grafana integrates into Prometheus by providing visualization dashboards.  However, we use the following client library to expose metrics (which are scrapped by Prometheus) --> https://github.com/siimon/prom-client. This client licensed under Apache 2.0. License.

[2021-05-12 14:02] mdebarros commented on #69
It's worth noting that one can already do that. You can install each chart individually.

[2021-05-12 15:18] millerabel commented on #77
Okay, this is excellent. Thanks Miguel for exploring the connections. Indeed, AGPL inherits the GPL's “viral on modification” and “viral on linking” philosophy, and it adds restrictions on service hosting of the stack. This is (according the AGPL authors) an attempt to prevent AWS and Azure from “free riding” by offering paid services powered by open source projects, without sharing revenue with t

[2021-05-26 13:10] elnyry-sam-k commented on #72
All the IAC repos to be made public this week or next week (first week of June) as part of contribution from ModusBox which will work with the latest helm release v12.0.0

[2021-05-26 13:15] elnyry-sam-k opened #78 "Upgrading node version to the latest LTS (v16.x.x)"
## Request Summary:

Upgrade Mojaloop (core & supporting) services to Node version v14.x.x (from v12.x.x)

## **Request Details**:

- **Deadline:** 2 weeks (by end of May - decision)
- **Impact (Teams):** All dev teams
- **Impact (Components):** All core and supporting services to be upgraded so will be impacted in some way

<insert more information about your request>

**Artifacts**:
- [ ] Artifa

[2021-05-26 13:26] elnyry-sam-k commented on #78
Discussed on May 19th initially: Sam K agreed to take it up and discuss with core team to assess impact and next steps and report back to the DA.

May 26th 2021: Discussed on the DA call and made the below proposal

- Since node v12 LTS support ends only in April 2022, we'll continue with helm v12.1.0 with node v12
- After the helm release, as part of maintenance, as we touch a core service, we'll

[2021-06-24 11:29] mjbrichards opened #79 "Duplicate avoidance in GET /parties"
## Request Summary:

Modify switch behaviour on receipt of a **GET /parties** message to avoid problems with duplicates

## **Request Details**:

- **Deadline:** ASAP
- **Impact (Teams):** MMD team, TIPS team
- **Impact (Components):** ALS

At present, a **GET /parties** request is _always_ routed to the appropriate oracle by the ALS. There are circumstances, however, where that is not appropriate

[2021-06-24 11:35] elnyry-sam-k commented on #79
hi @MichaelJBRichards , the proposal looks fine to me (from implementation perspective at least)..

The FSP receiving the `GET /parties` can always respond with an error callback if the user ID isn't found..

In a way - this seems like an advantage of of the current spec, having separate calls - `GET /participants` and `GET /parties`

[2021-06-24 11:37] bushjames commented on #79
This proposal makes a lot of sense to me. I struggle to see any downsides at this point.

[2021-06-24 14:04] mdebarros commented on #79
+1 from me.

[2021-07-07 13:26] bushjames commented on #79
Discussed at DA weekly call on 2021-07-07. Agreement reached by attendees to accept the change. Discussion indicated no further documentation changes are required.

[2021-07-08 14:27] mdebarros commented on #52
@bushjames, I have closed this issue as I believe it was @NicoDuvenage's intent to do so.

Let me know otherwise.

[2021-07-08 14:27] #52 closed

[2021-07-13 12:06] JustusOrtlepp opened #80 "Mojaloop integration into the Actio FCRMS"
## Request Summary:

Actio is under development as a Financial Crime Risk Management Solution to provide real-time transaction monitoring services
for transactions routed through a Mojaloop hub. As such, it is essential that Actio is able to receive the following messages from Mojaloop, in real-time, when these message are routed out of Mojaloop to their respective target DFSPs:

- POST /quotes
-

[2021-07-21 11:59] elnyry-sam-k opened #81 "Proposal to replace the current endpoints implementation"
## Request Summary:

Proposal to replace the current endpoints implementation in Mojaloop

## **Request Details**:

- **Deadline:** <When do we need a decision by?>
- **Impact (Teams):** <If your proposal is accepted, what team(s) will be affected by it?>
- **Impact (Components):** <If your proposal is accepted, which components (e.g. APIs, docs, codebases) will be affected by it?>

**The motivati

[2021-07-21 16:28] bushjames opened #82 "Business Operations Framework Architecture"
## Request Summary:

Review and acceptance of business operations framework workstream architecture by the design authority

## **Request Details**:

- **Deadline:** N/A
- **Impact (Teams):** business operations workstream, reference architecture workstream, mojaloop core team
- **Impact (Components):** HELM chart(s).

See attached diagram showing high level view of proposal. Essential elements ar

[2021-08-13 09:39] partiallyordered commented on #81
Summary of the DA meeting:

General agreement with the proposal. A suggested implementation pathway:
1. Implement in ML v14 (for example), but have the implementation default-disabled, available behind a flag. Notify users of availability of implementation. Notify users that this will be the default in future.
2. In ML v15, have the implementation default-enabled. Have the legacy implementation de

[2021-09-08 09:54] mdebarros opened #83 "Quoting and Transfer Services do not apply Canonical JSON transformation as part of the Duplicate Check logic"
## Request Summary:

Quoting and Transfer Services do not apply Canonical JSON transformation as part of the Duplicate Check logic.

This means the current Duplicate Check logic requires the payload structure to be exactly the same for a Duplicate to be found. So if a Duplicate request has the same contents, but the JSON structure has changed (i.e. key ordering), the Duplicate check will fail.

I

[2021-10-06 11:13] lewisdaly commented on #83
- Option 1 was decided by the DA on 2021-10-06
- @pedrosousabarreto also agreed (with @lewisdaly) to follow up issued raised around the requirement for such duplicate check logic with the FSPIOP SIG

[2021-11-03 10:08] #72 closed

[2021-12-08 01:39] #71 closed

[2021-12-08 01:39] #46 closed

[2021-12-08 01:40] #63 closed

[2021-12-08 01:40] #69 closed

[2021-12-08 01:40] #56 closed

[2021-12-08 01:42] #83 closed

[2021-12-08 01:42] #4 closed

[2021-12-08 01:42] #9 closed

[2021-12-08 01:42] #28 closed

[2021-12-08 01:42] #29 closed

[2021-12-08 01:42] #30 closed

[2021-12-08 01:42] #33 closed

[2021-12-08 01:42] #37 closed

[2021-12-08 01:42] #40 closed

[2021-12-08 01:42] #44 closed

[2021-12-08 01:42] #47 closed

[2021-12-08 01:42] #54 closed

[2021-12-08 01:42] #62 closed

[2021-12-08 01:42] #64 closed

[2021-12-08 01:42] #76 closed

[2021-12-08 01:42] #79 closed

[2021-12-08 01:42] #82 closed

[2021-12-08 01:43] #77 closed

[2021-12-08 01:48] lewisdaly opened #85 "Payment Manager Adoption"
## Request Summary:

Mojaloop Community adoption of Payment Manager

## **Request Details**:

- **Deadline:** <When do we need a decision by?>
- **Impact (Teams):** <If your proposal is accepted, what team(s) will be affected by it?>
- **Impact (Components):** Mojaloop SDK,

DA TODOs:
- [ ] review the documentation (all)
- [ ] review docs related to constructing new Connectors (from hackathon part

[2022-02-02 13:25] pedrosousabarreto commented on #67
We have a "Mojaloop GitHub repository management proposal" document that includes naming conventions for repositories, as well as a general strategy for repo management.

This doc resolves the first point of this issue.

I believe the second one. regarding the process to accept contributions, should be separate.

https://docs.google.com/document/d/1AZbX0UjraytFty0IWOHpyR6z35bh0-MCFG1vGKId_5M/edit#

[2022-02-02 14:00] pedrosousabarreto opened #86 "Decide and document process of accepting community contributions"
## **Request**:

To accept contributions that are not part of the core (or core dependencies) and/or will be maintained by the community (not the core team) we need to define:

2. A process for accepting these kinds of projects into the Mojaloop organization and what the implications of that are (who maintains them etc)

**Decision(s)**:
- [ ] Actual decision made as a result of discussion

## **F

[2022-02-02 14:01] pedrosousabarreto commented on #67
Second point extracted to #86. Closing this one

[2022-02-02 14:01] #67 closed

[2022-02-03 08:31] mdebarros commented on #81
Update 2022-02-03:
- DA re-looked at this issue as it was in the backlog.
- Decision is to address this issue as part of the vNext workstream, where it will be managed by the Platform Configuration BC and how the configuration is shared between other BC/Components.

[2022-02-03 08:32] #81 closed

[2022-02-03 08:51] mdebarros commented on #74
Update 2022-01-03:
- DA agreed that there are no major pending issues with the proposal
- DA decision that this should be addressed as part of the vNext workstream

[2022-02-03 08:51] #74 closed

[2022-02-03 08:59] mdebarros commented on #78
I believe we should update this issue to upgrade Node v12.x to the latest current supported version - which is currently v17.x (released 2021-10-19).

Reference: https://nodejs.org/en/about/releases/

[2022-02-07 16:37] elnyry-sam-k commented on #42
All accented characters are now supported in implementation (example issue addressing this: https://github.com/mojaloop/project/issues/2358)

[2022-02-07 16:37] #42 closed

[2022-02-07 16:41] elnyry-sam-k commented on #68
#2 above is now addressed by the usage of PATCH: https://github.com/mojaloop/mojaloop-specification/issues/103..

[2022-02-09 06:59] johanfol commented on #73
Presentation done per minutes below.
https://community.mojaloop.io/t/da-meeting-minutes-2021-01-20-13-00-utc/254

Suggested to close this issue. Once the FRM piece is done, a new ticket will have to be raised to decide if this will form part of the ML Core (does FRM fit in the switch itself, or something standalone next to it).

[2022-02-15 09:29] mjbrichards commented on #86
Following the DA discussion 2022-02-14, the following points were agreed:

- Contributions should align with our [Community Standards](https://docs.mojaloop.io/community/standards/guide.html)
- Where a submitting group wants an exception to the standard, it should request that from the DA.
- If the DA grants an exception, the exception and the reasoning should be documented and stored in the repos

[2022-03-14 14:20] mdebarros opened #87 "CircleCI configurations requires maintenance for deprecated Ubuntu versions"
## Request Summary:

Some of our CircleCI Jobs (core & supporting) are running on deprecated versions of Ubuntu:

[code]

## **Request Details**:

- **Deadline:** TBD
- **Impact (Teams):** All dev teams
- **Impact (Components):** Potentially all components that rely on CircleCI

<insert more information about your request>

**Artifacts**:
- [ ] Artifact to consider [@Contributor]

**Dependencies**

[2022-04-06 04:37] lewisdaly opened #88 "Preventing/Mitigating Open Source Supply Chain Attacks"
## Request Summary:

Open Source Module Supply Chain attacks pose a real risk to the community:

For example: https://www.zdnet.com/article/corrupted-open-source-software-enters-the-russian-battlefield/

In this case, a malicious package was inserted as a dependency for a widely used package, which ended up attacking users who had ip addressed in Russia.

How can we as a community best prevent the

[2022-04-06 09:53] godfreykutumela commented on #88
Guideline from Snyk for preventing malicious packages - https://snyk.io/blog/publishing-malicious-packages/

[2022-04-06 10:25] godfreykutumela commented on #88
Top line is to:

- Inspect dependency lists and ensure only necessary dependencies are to be downloaded / updated - Package-json.lock, a specification file that forces JavaScript applications to use a specific version of an NPM dependency, is highly recommended both for stability and security purposes.

- Npm-secure-install,  is a package installer that enforces secure practices, such as preventin

[2022-04-06 11:35] godfreykutumela commented on #88
From @pedrosousabarreto
To sum up my opinion on this:

- I'm against using any form of dynamic version numbers in dockerfile or .nvmrc like "lts" or "latest", we should always use fixed numbered versions like "16.14.2" (in fact for everything, not just dockerfile and .nvmrc)

- We should have a repo with a json file that has the official allowed node.js versions, and a git check script that compar

[2022-04-06 12:30] godfreykutumela commented on #85
What is the status of this issue! @lewisdaly @MichaelJBRichards

[2022-04-12 06:38] bukasaaime opened #89 "Mojaloop Code Signing using Helm Provenance and Integrity"
## Request Summary:

Helm has provenance tools which help chart users verify the integrity and origin of a package. Using industry-standard tools based on PKI, GnuPG, Keybase.io and well-respected package managers, Helm can generate and verify signature files.

Implementing Helm Provenance and Integrity for Mojaloop installation packaged chart, will constitute Mojaloop cryptographic Code Signing.

[2022-04-12 10:51] lewisdaly commented on #88
@godfreykutumela I think this comment belongs on #78  - can you please move it over there?

[2022-04-13 10:50] mjbrichards opened #90 "Change the basis for the liquidity check"
## Request Summary:

Make the liquidity check a comparison between the position account and the settled funds account as modified by the NDC, instead of between the position account and the NDC.

## **Request Details**:

- **Deadline:** Resource is available to make this change quickly, if approved.
- **Impact (Teams):** Core components team
- **Impact (Components):** Transfer prepare

At present,

[2022-04-20 10:17] mdebarros commented on #90
Approved 2022-04-20 by DA.

[2022-04-20 10:17] #90 closed

[2022-04-27 05:45] lewisdaly commented on #88
This one has some good practices around preventing the installation of malicious packages, but it's fairly outdated.
Node has a lot of this stuff built in now (such as the package-lock.json)

I think we could look at developing a whitelist or something of that nature, but I think in general we should focus on best practices around code reviews, and have a culture around being skeptical when a new

[2022-04-27 06:47] godfreykutumela commented on #88
Thanks @lewisdaly for this input and we will keep this open until we decide additional package check measures to compliment existing checks which may not sufficient to prevent this types of attacks.

[2022-04-27 06:56] godfreykutumela commented on #88
Hi @MichaelJBRichards and @mdebarros Initially we thought we can prevent these types of attacks based on our current NPM package checking measures but upon reflecting on this again Lewis suggested to explore additional measures above which we can discuss in our DA meeting so lets keep this open for a while!

[2022-04-27 07:03] MichaelJBRichards commented on #88
Geoffrey?? Godfrey!

M

On Wed, 27 Apr 2022 at 08:03, Michael Richards <
***@***.***> wrote:

--

[image: Modusbox_Logos_Modusbox_Vertical_2C.png] <http://www.modusbox.com/>

Michael Richards, Financial Services Principal

ModusBox,

7525 SE 24th St., Suite 510,

Mercer Island, WA 98040, USA

+ <+44%207785%20360009>44 7785 360009 ***@***.***
***@***.***>

[2022-04-27 13:19] godfreykutumela commented on #88
Ownership is me and Lewis and participation is everyone in the DA @MichaelJBRichards

[2022-05-11 11:25] bukasaaime commented on #89
Update

We have done a proposal to have Mojaloop helm release code signed using

1. Keybase.io GPG keys,
2. Kubernetes commands
3. Helm package manager,
4. Helm chart(s),
5. Github,
6. Circle CI,
7. npm packages
8. Docker images, flags and hash values.
9. The Mojaloop customization trough external configs (including the default config),
10. mojaloop.io site for publication of Mojaloop helm release

[2022-05-11 13:09] elnyry-sam-k commented on #78
Link to the Epic on project repo for tracking: https://github.com/mojaloop/project/issues/2092

This epic contains all the stories part of this effort..

[2022-05-11 13:22] lewisdaly commented on #88
Decision today: @lewisdaly to investigate how we can better use our process around `npm audit` to make sure we can tighten the process around ignoring _some_ vulnerabilities

[2022-05-12 04:07] bukasaaime commented on #89
[Keybase.io](http://keybase.io/) is an elegant solution for hosting GPG keys for establishing Provenance and managing developers chain of trust. It is recommended by the Helm documentation https://helm.sh/docs/topics/provenance/ and is optional.  It is open source,  very secure and used by many developers around the world.

[2022-05-25 13:53] pedrosousabarreto commented on #80
@johanfol I suggest we specifically call this as outbound integration

[2022-05-25 14:16] johanfol commented on #80
s

[2022-05-25 14:36] johanfol commented on #80
This outbound integration design presented to DA on 25 May 2022, as follows:
FRMS to build proposed Payment Platform Adapter (PPA) that will subscribe to the Kafka topic: "topic-events", filter out the applicable messages (Quote, Quote Response, Transfer, Transfer Response), and send it off to the Actio FRMS for evaluation via a Rest call to FRMS. The PPA will, with other words, be inside of the D

[2022-05-25 15:28] pedrosousabarreto commented on #80
Approved

[2022-06-01 05:40] lewisdaly commented on #88
I've done some more digging around our existing integrated tools, and here's a summary on my latest thinking:

__Goal: Determine how we can use our existing tools: `npm audit`, `npm-audit-resolver` and dependabot  to prevent open source supply chain attacks__

Questions I think we all want to answer:
- Did we just get lucky on the last _n_ npm hacks/flaws? Or is our processing working?
- How can w

[2022-06-08 13:10] elnyry-sam-k commented on #86
Needs to be discussed in a separate session and outcomes documented.

[2022-06-14 12:08] tdaly61 opened #91 "mojaloop deployment status and issues"
## Request Summary:
 The 13.x release of Mojaloop does not deploy to current kubernetes releases and this is starting to cause a significant amount of challenge for those trying to deploy it

Seeking to raise awareness of scope and significance of the issues and to get agreement on a solution
## **Request Details**:

- **Deadline:** <When do we need a decision by?>
- ASAP
- **Impact (Teams):** <If

[2022-06-15 09:55] lewisdaly commented on #88
## Whitesource vs NPM Audit

- Godfrey and I ran another scan ~2 weeks ago
- Now we are comparing the results of 5 repos `npm audit` run against whitesource,
 to shed light on how accurate our tools are to each other.

- Summary:

| repo                      | # whitesource | # npm audit  |
| ------------------------- | ------------  | ------------ |
| `central-ledger`          | 8 | 9 |
| `accoun

[2022-06-15 10:06] lewisdaly commented on #78
We're just waiting for this [documentation issue](https://github.com/mojaloop/project/issues/2743) to be done before we consider this complete.

[2022-06-22 13:30] pedrosousabarreto commented on #86
Looks like we're only missing:
- Define what is the documentation standard and/or minimum
- Describe the minimum tests that have to exist, pass and code coverage percentage (these exist already)
- Clarify what are the issues that newly on-boarded developers identify, these might help tune the process

[2022-07-05 11:13] mdebarros commented on #86
Link to contributors form provided by @simeonoriko : https://docs.google.com/forms/d/e/1FAIpQLSfTvCmGBkYwfjnx589doxbc7GaJT8fU3UDpKRLxvd16EuFhUw/viewform

[2022-07-06 10:29] MichaelJBRichards commented on #86
My notes from yesterday's meeting:

- Should we compare with other standards (e.g. Apigee)? IM to look and report back
- Typescript: Standard now supports Typescript. MB: we should use it for everything… JF Example of Prettier+ESLint… For JS use this file, for TS use that file… We do not allow commit unless linting has been run.
- Are we accepting code in other languages? For third party component

[2022-07-12 11:23] mdebarros opened #92 "Reconsider our NPM Audit Tools"
## Request Summary:

`npm-audit-resolver` currently does not fully support Node LTS (specifically NPM v7+) for checking and fixing audits. We have a semi-work-around with [Snapshot v3.0.0-7 release](https://github.com/naugtur/npm-audit-resolver/releases/tag/v3.0.0-7), but it has several issues:
    1. inconsistent on checks, this impacts our CI-CD pipelines where we have to re-run failed audit-che

[2022-07-13 02:53] lewisdaly commented on #91
## Decision to be made:
1. Either update Percona to something modern (breaking)
2. Remove chart dependencies and issue a breaking change
3. Do nothing, wait for new refactored charts
4. Just make the ingress change (non-breaking) and flip the default to not deploy percona by default

[2022-07-13 09:00] mdebarros commented on #91
On point 4 option. We could introduce another `percona` alternative that is enabled by default but still maintain `percona` as an option which is disabled by default for "backward" compatibility. However, this would necessarily help anyone that is upgrading from K8s v1.21 to v1.22.

[2022-07-13 10:44] lewisdaly commented on #91
Agreed to:

- From Monday 26th, @tdaly61 will start modifying the current helm chart to:
    - Swap out databases from `percona` to `bitnami/mysql`
    - Update ingress annotations
    - Investigate and (maybe) fix PodDisruption budgets
    - Move Kafka and MongoDB dependencies to external chart (already done in next charts, but not in current)

[2022-07-13 11:04] mdebarros commented on #92
Proposal accepted by DA (@lewisdaly, @tdaly61, @MichaelJBRichards, @elnyry-sam-k, @mdebarros) on 2022-07-13.

Refer to minute meetings.

[2022-07-13 11:04] #92 closed

[2022-08-03 09:54] mdebarros commented on #78
PR created for documentation to include outcome of this DA issue: https://github.com/mojaloop/documentation/pull/379 (note this PR includes additional maintenance updates)

[2022-08-10 23:41] tdaly61 opened #93 "specifying the infrastructure Mojaloop will run on"
## Request Summary:

<what platforms and infrastructure should we **ensure** Mojaloop deploys and runs correctly on >

## **Request Details**:
Per the topic raised at the July 2022 convening,  where do we want to ensure Mojaloop works i.e.

- which releases of kubernetes
- which kubernetes distributions (k3s, microk8s , mini-kube, kubespray etc)
- which managed kubernetes engines (AKE, GKE, AKS et

[2022-08-18 09:11] tdaly61 commented on #93
hi all and especially @elnyry-sam-k @MichaelJBRichards @mdebarros hey right now I am working on DA #91 as we discussed and as tracked in https://github.com/mojaloop/project/issues/2352.  As I have gotten deep into doing this task it becomes obvious that if we develop and test for lots of kubernetes versions we are increasing our  work and the code complexity but certainly increasing the testing bu

[2022-08-18 19:40] naugtur commented on #92
Hi
npm-audit-resolver is supported.
Sorry I didn't finish the v3 in time for you folks. Got swamped with way too many things and failed to get the community more engaged.
if you install npm-audit-resolver@next it's working with npm 7 and 8 and I didn't make an official release (probably a mistake on my side) because I wanted to finish a few little things.

npm-audit-resolver is a bit safer than au

[2022-08-19 14:10] mdebarros commented on #92
Thanks, @naugtur for the update. Very much appreciated!

I will certainly raise this with the Mojaloop DA.

[2022-08-19 14:20] naugtur commented on #92
That had nothing to do with npm-audit-resolver.
It was an issue with GitHub where they gave different IDs to the same item over time. It was fixed after a while but for 3 months vulnerability IDs were changing occasionally.

https://github.com/naugtur/npm-audit-resolver/issues/56

[2022-08-24 10:45] godfreykutumela commented on #89
@MichaelJBRichards This is now approved by the DA for testing and implementation on the condition that appropriate documentation explaining this is included in the standard section of the community guides. The helm release note will reference this only on the first release and thereafter removed.

Implementation Plan:

- Release initial documentation by 30 August 2022
- Start testing the solution

[2022-09-07 09:35] mdebarros opened #94 "Password Manager for Mojaloop Maintainers"
## Request Summary:

Password Manager for Mojaloop Maintainers to allow the Mojaloop Foundation to support the following:
- manage passwords centrally
- manage who has access to passwords associated with the Mojaloop Foundation (e.g. Mojaloop OSS Environment)

https://1password.com

## **Request Details**:

- **Deadline:** TBC
- **Impact (Teams):** Mojaloop Foundation Maintainers
- **Impact (Compo

[2022-09-21 07:17] tdaly61 commented on #93
To Summarise on item #1 in our list here is my attempt to document the DA's in-principle decision in preparation for final agreement at today's DA mtg.

Background: what is meant by the term support in context of the Mojaloop project.
There was agreement that we would use of the word "support" as an aid to conversation about where Mojaloop would run and what the requirements were to enable Mojaloo

[2022-10-05 10:52] mdebarros commented on #86
Link to Mojaloop's Official Contributor's Guide: https://docs.mojaloop.io/community/contributing/contributors-guide.html

[2022-10-19 11:26] elnyry-sam-k commented on #78
Can be closed with: https://github.com/mojaloop/documentation/pull/379 according to final discussions on this

[2022-11-07 08:30] #78 closed

[2022-11-09 23:33] tdaly61 commented on #93
Revision #1 by Tom Daly
revised the wording of the example to cater for the situation when it is not possible nor prudent to test Mojaloop with the latest kubernetes release.
====================================
To Summarise on item https://github.com/mojaloop/design-authority-project/issues/1 in our list here is my attempt to document the DA's in-principle decision in preparation for final agreem

[2022-11-16 12:46] pedrosousabarreto opened #95 "DA to review the alpha release of vNext implementation when it is released"
## Request Summary:

DA to review the alpha release of vNext implementation when it is released - current estimate is End of Q2 2023.

## **Request Details**:

- **Deadline:** Ideally the review should start immediately after the alpha version is released, so its findings can to be considered, where applicable, in the beta version planned for end of Q4 2023.
- **Impact (Teams):** Someone from the